import( Biobase )
import( bsseq )
import(methods)

exportClasses("SeqCountSet") 
exportMethods(
              normalizationFactor, "normalizationFactor<-",
              dispersion, "dispersion<-"
              )

export(
       newSeqCountSet,
       estDispersion, 
       estNormFactors, 
       waldTest,
       callDML,
       callDMR,
       makeBSseqData
)

